<script type="text/javascript">
  window.brentURL = "<%= image_url('Discord-Logo-White.png') %>";
</script>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">
    <h1>You should NOT be seeing this</h1>
</main>