/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    background-color: #262626;
    margin: 0;
    height: 100%;
}

.app, #root, .startHeader, .splash{
    height: 100%;
}

.splash-nav{
    display: flex;
    height: 10%;
    font-size: 20px;
}

.splash-nav .left{
    width: 25%;
    display: flex;
    align-items: center;
}

.splash-nav .left > img{
    width: 25%;
}

.splash-nav .left > strong{
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.splash-nav .right{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: flex-end;
}

.splash-nav .right > a {
    margin: 10px;
    font-family: Helvetica;
    padding: 6px;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.splash-logo{
    margin-bottom: 0px;
    width: 10%;
}

.splash-mid{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 72px 80px 0px;
    color: white;
    height: 45%;
    max-width: 1200px;
    font-size: 28px;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

.splash-mid p {
    text-align: center;
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
}

.splash-mid h1 {
    font-size: 36px;
    font-weight: bold;
}

.splash-mid .bottom {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.signup-button {
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
    margin: 50px 70px;
    border-radius: 5px;
    position: relative;
}

.homepage-button {
    text-decoration: none;
    background-color: #7289DA;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 50px 70px;
    color: #FFFFFF;
    border-radius: 5px;
}