.second-nav{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.channel-header{
    height: 50px;
    background-color: #303133;
    box-shadow: 0 10px 20px rgba(0,0,0,0.18), 0 6px 6px rgba(0,0,0,0.18);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.channel-header-options{
    width: 250px;
    background-color: #1f2022;
    border: 1px solid black;
    position: absolute;
    top: 50px;
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    display: none;
}

#show{
    display: block;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.channel-header-options button{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    color: white;
    -webkit-transition: .5s ease-in-out;
}

.channel-header-options button:hover{
    background-color: gray;
    color: white;
    border-radius: 10px;
}

#message-icon-button{
    color: white;
    padding-left: 100px;
}

.channel-header strong{
    font-size: 32px;
    padding-top: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.channel-options-button{
    background-color: #303133;
}

.options-dropdown-button{
    background-color: #303133;
}

#dropdown-icon{
    border-radius: 10px;
    color: #303030;
    background-color: white;
}

#dropdown-icon:hover{
    background-color: #303133;
    color: white;
    cursor: pointer;
}

.channels-container{
    display: flex;
    flex-direction: column;
    background-color: #303133;
    height: 86%;
}

.channels-container a {
    color: white;
    padding: 10px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: ease-in-out .3s;
}

.channels-container a:hover{
    background-color: gray;
    border-radius: 10px;
    border: 1px solid black;
}

.logout-section{
    background-color: #1f2024;
    color: white;
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.logout-section button{
    border-radius: 10px;
    background-color: #1f2024;
    color: red;
    border: 2px solid red;
    cursor: pointer;
    padding: 5px;
    font-size: 10px;
    -webkit-transition: all .4s ease-in;
}

.logout-section button:hover{
    color: white;
    background-color: red;
    content: "Goodbye!";
}

#pound-sign{
    opacity: .6;
    padding-right: 10px;
}
