.last-container-main{
    display: flex;
    justify-content: space-between;
    height: 83%;
}

.last-container-left{
    width: 75%;
}

.messages-container{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 99%;
    background-color: #303133;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-family: Arial, Helvetica, sans-serif;
}

.messages-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #303133;
}

.messages-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #303133;
}

.messages-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1f2020;
}
.message-item-container{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.message-header{
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    opacity: .2;
    padding: 2px 0 2px 0;
}

.message-header strong{
    padding-right: 5px;
}

.messages-container p{
    overflow-wrap: break-word;
    padding: 5px 0 5px 0;
}

.message-body{
    color: white;
    opacity: .7;
    font-size: 14px;
}

.enter-message-container{
    width: 96%;
    padding: 10px 12px 10px 10px;
    height: 6.5%;
    background-color: #424446;
}

.enter-message-field{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    background-color: #5f6163;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.message-placeholder-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}