.server-modal{
    background-color: white;
    width: 540px;
    height: 420px;
    position: relative;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: modal-grow .25s;
}

@keyframes modal-grow{
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-close-container{
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.modal-close-container button{
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.server-modal-content{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.server-modal-content div{
    border: 1px solid gray;
    width: 45%;
}

.modal-content-header h1{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.add-server-container{
    
}