.second-nav{
    width: 250px;
}

.second-nav h1{
    font-size: 36px;
    color: white;
}

.logout-section{
    background-color: #1f2024;
    color: white;
    font-size: 25px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.logout-section button{
    border-radius: 10px;
    background-color: #1f2024;
    color: red;
    border: 2px solid red;
    cursor: pointer;
    padding: 5px;
    font-size: 10px;
    -webkit-transition: all .4s ease-in;
}

.logout-section button:hover{
    color: white;
    background-color: red;
    
}