.channels-main{
    display: flex;
}

.server-nav{
    height: 100%;
    width: 70px;
}

.server-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f2024;
    height: 100%;
}

.server-icons li {
    background-color: #3a3d42;
    border-radius: 20px;
    padding: 13px 20px;
    margin: 10px;
    color: white;
}

.server-icons li:hover {
    background-color: #7289DA;
}

.add-server-button {
    color: white;
    background-color: #3a3d42;
    padding: 10px 15px;
    border: 1px dashed white;
    border-radius: 20px;
    margin-top: 10px;
}

.add-server-button:hover{
    background-color: #7289DA;
    
}

#user-icon {
    font-size: 18px;
    padding: 0px;
}

.channels-nav {
    width: 240px;
}