.app, #root, .startHeader, .splash{
    height: 100%;
}

.splash{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.splash::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #303133;
}

.splash::-webkit-scrollbar
{
	width: 12px;
    background-color: #303133;
    color: #303133;
}

.splash::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1f2020;
}

.splash-nav{
    display: flex;
    height: 40px;
    width: 100%;
    font-size: 20px;
    align-items: center;
    padding: 8px 0;
}

.splash-nav .left{
    width: 25%;
    display: flex;
    align-items: center;
}

.splash-nav .left > img{
    width: 35px;
}

.splash-nav .left > strong{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.splash-nav .right{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: flex-end;
}

.splash-nav .right > a {
    font-family: Helvetica;
    padding: 5px 15px 10px 15px;
    border: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    opacity: .5;
    -webkit-transition: .3s ease-in-out;
}

.splash-nav .right > a:hover{
    opacity: 1;
}

.splash-logo{
    margin-bottom: 0px;
    width: 10%;
}

#splash-text{
    width: 140px;
}

.splash-mid{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 72px 50px 0;
    color: white;
    max-width: 800px;
    font-size: 28px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.splash-mid p {
    text-align: center;
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
}

.splash-mid h1 {
    font-size: 36px;
    font-weight: bold;
}

.splash-mid .bottom {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    width: 60%;
    height: 68px;
}

#github-icon{
    margin-right: 20px;
}

.signup-button {
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px 60px;
    height: 20px;
    border-radius: 5px;
    position: relative;
    -webkit-transition: .3s ease-in-out;
}

.signup-button:hover{
    background-color: rgb(196, 194, 194);
}

.homepage-button {
    text-decoration: none;
    background-color: #7289DA;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 40px;
    height: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-transition: .3s ease-in-out;
}

.homepage-button:hover{
    background-color: rgb(39, 57, 128);
}

.splash-bottom {
    width: 100%;
    height: 638px;
    position: relative;
}

.splash-bottom img{
    position: absolute;
    left: 50%;
}

.splash-shape{
    opacity: .3;
}

#square-1{
    margin-left: 331px;
    bottom: 600px;
}

#square-2{
    margin-left: 17px;
    bottom: 92px;
}

#square-3{
    margin-left: 431px;
    bottom: 400px;
}

#triangle-1{
    margin-left: 31px;
    bottom: 550px;
}

#triangle-2{
    margin-left: -579px;
    bottom: 300px;
}

#triangle-3{
    margin-left: -289px;
    bottom: 448px;
}

#dot-1{
    margin-left: -599px;
    bottom: 200px;
}

#dot-2{
    margin-left: -319px;
    bottom: 600px;
}

#dot-3{
    margin-left: 181px;
    bottom: 500px;
}

#dot-4{
    margin-left: 531px;
    bottom: 600px;
}

#dot-5{
    margin-left: 600px;
    bottom: 140px;
}

#circle-1{
    margin-left: -359px;
    bottom: 530px;
}

#circle-2{
    margin-left: 576px;
    bottom: 280px;
}

#circle-3{
    margin-left: -199px;
    bottom: 88px;
}

#cross-1{
    margin-left: 101px;
    bottom: 440px;
}

#cross-2{
    margin-left: 541px;
    bottom: 220px;
}

#cross-3{
    margin-left: -579px;
    bottom: 510px;
}

#coin-1{
    margin-left: 80px;
    bottom: 530px;
}

#coin-2{
    margin-left: -428px;
    bottom: 300px;
}

.splash-bomb{
    left: 50%;
    margin-left: -481px;
    bottom: 350px;
}

.splash-cartridge{
    margin-left: 250px;
    bottom: 392px;
}

.floating {  
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    75%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.splash-potion{
    left: 50%;
    margin-left: -609px;
    z-index: 1;
    bottom: 10px;
}

.splash-shield{
    margin-left: 423px;
    bottom: 10px;
}

.splash-block{
    margin-left: -239px;
    bottom: 462px;
    transition: none;
}

.splash-monitor{
    margin-left: -289.5px;
    bottom: 10px;
}

.splash-android{
    margin-left: -548px;
    bottom: 10px;
    z-index: 2;
}

.splash-iphone{
    margin-left: -401.5px;
    bottom: 10px;
}

.splash-controller{
    margin-left: -255px;
    bottom: 10px;
}

.splash-laptop{
    margin-left: -4px;
    bottom: 10px;
}

.splash-headphones{
    margin-left: 270px;
    bottom: 142px;
    transform: scale(.75);
}